<p class= "NewUsers-title"> Sign-In!</p>

<section class="UsersNew" >
    <%= form_with url: sessions_path do |form| %>

      <div class="Form-Section" >
        <p class="FormInput-label"> Email: </p>
        <%= email_field(nil, nil, name: "email", class: "Form-input", placeholder: "Enter your E-mail") %>
      </div>

      <div class="Form-Section" >
        <p class="FormInput-label"> Password: </p>
        <%= form.password_field :password, class: "Form-input" %>
      </div>

      <div class="Form-Section" >
        <%= submit_tag("Sign-in!", class: "Form-submit") %>
      </div>

    <% end %>
</section>
