<section>
  <h2> Menu Items </h2>
  <ul>
    <% MenuItem.all.each do |menu_item| %>
      <li>
        <%= Menu.find(menu_item.menu_id).name %>
        <%= menu_item.name %>
        <%= menu_item.description %>
        <%= menu_item.price %>
      </li>
    <% end %>
  </ul>
</section>
